/* h1 {
  font-size: 8vw;
  margin-left: 1rem;
} */

.name {
  -webkit-text-stroke-color: #363636;
  -webkit-text-stroke-width: 0.2vw;
}

.project-number {
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.1vw;
}
